/* css 적용시 주의사항 -> Material-UI에서 제공하는 컴포넌트에 적용할 경우 !important 필수 */
.accept-btn {
  background-color: #a8d08c !important;
  color: white !important;
  font-weight: 600 !important;
  font-size: 12px !important;
}

.cancel-btn {
  background-color: #f4b081 !important;
  color: white !important;
  font-weight: 600 !important;
  font-size: 12px !important;
}
