.member-info-layout {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 20px;
}

.between-field-and-select {
  margin-right: 10px;
}

.between-filter-and-table {
  margin-bottom: 0px;
  margin-top: 0px;
}

.select-width {
  max-width: 100px;
}

.wakeup-block {
  display: flex;
  justify-content: space-between;
}

.wakeup-check-align {
  text-align: right;
}

.study-member-table {
  width: 65%;
}

.schedule-table {
  width: 35%;
  margin-right: 3%;
}
