<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{0} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 초기 로그 파일 이름 설정 -->
        <file>logs/logfile-today.log</file> 
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{0} - %msg%n</pattern>
        </encoder>
        <!-- 매일 자정 로그 파일을 그날 날짜로 저장하고, 새로운 초기 로그 파일 생성 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/logfile-%d{yyyy-MM-dd.SSS}.log</fileNamePattern>
            <!-- 30일 지난 로그는 삭제 -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>
    <logger name="org.springframework.web" level="INFO"/>
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>